* {
    margin: 10px;
}

#titulo-principal{
    color: aqua;
}

.destaque {
    background-color: yellow;
}

div p {
    color: pink;
}

div > p{
    color: peru;
}

input[type="email"] {
    border: 2px solid red;
}

p:hover{
    background-color: aquamarine;
    font-size: 20px;
}

li:first-child {
    font-size: 2px;
}

p::first-letter{
    font-size: 36px;
    background-color: cadetblue;
    font-weight: bold;
}

/* secao */
.secao{

}

.secao p{

}

.secao li{

}
/* fim do secao */

.secao{
    height: 500px;
    background-color: aliceblue;

    p{
        box-shadow: 5px 5px 8px black;
    }

    .lista{
        background-color: aqua;

        li{
            font-size: large;
        }
    }
}